In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/apartments.csv")

In [3]:
df.head()

   m2.price  construction.year  surface  floor  no.rooms     district
0      5897               1953       25      3         1  Srodmiescie
1      1818               1992      143      9         5      Bielany
2      3643               1937       56      1         2        Praga
3      3517               1995       93      7         3       Ochota
4      3013               1992      144      6         5      Mokotow

# Exercise

- The goal is to find a model that predicts `district` as a function of the other columns.
- Train a decision tree classifier: Find the best possible decision tree varying the parameter `max_depth`.
- Train a random forest classifier: Find the best possible random forest varying the parameters `max_depth` and `n_estimators`.

In [5]:
df['district'].unique()

array(['Srodmiescie', 'Bielany', 'Praga', 'Ochota', 'Mokotow', 'Ursus',
       'Zoliborz', 'Wola', 'Bemowo', 'Ursynow'], dtype=object)